@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url("../public/image/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: small;
  font-family:
    DIN alternate,
    Arial,
    Helvetica,
    sans-serif;
  cursor: default;
}
@media (max-width: 768px) {
  :root {
    font-size: xx-small;
  }
}

body {
  /* background-image: url("../public/image/background.jpg"); */
  /* background-size: unset; */
  /* background-position: center; */
  /* background-attachment: fixed; */
  /* min-width: auto; */
  /* font-family: Arial, Helvetica, sans-serif; */
  min-height: 100vh;
}
