@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url("../public/image/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: small;
  font-family:
    DIN alternate,
    Arial,
    Helvetica,
    sans-serif;
  cursor: default;
}

@media (max-width: 768px) {
  :root {
    font-size: xx-small;
  }
}

body {
  min-height: 100vh;
}
